@use '@environment' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    //min-heght: calc
    background-color: $color-body;
    color: $color-text-primary;
    font-family: 'Albert Sans';
    //line-height
}
