@use '@environment' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-heght: 100vh;
    background-color: $color-body;
    color: $color-text-primary;
    font-family: 'Albert Sans';
    font-weight: normal;
    line-height: 120%;
}
