@font-face {
    font-family: 'Albert Sans';
    src: url('@assets/fonts/AlbertSans-VariableFont_wght.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
