$color-white: #ffffff;
$color-black: #000000;

$color-beige: #fdfaf0;
$color-beige-dark: #f1edde;
$color-beige-light: #c7b08f;

$color-red: #ee4141;
$color-gold: #ffc107;
$color-gray: #333;
$color-gray-light: #ddd;
$color-gray-dark: #2a2525;
$color-brown-light: #c7b08f;
$color-brown: #a4856c;

$color-body: $color-beige;
$color-body-dark: $color-beige-dark;

$color-text-primary: $color-black;
$color-text-muted: $color-gray;
$color-text-error: $color-red;

$color-primary: $color-red;
$color-secondary: $color-gray-dark;
$color-muted: $color-beige-light;

$color-star-active: $color-gold;
$color-star: $color-gray;
