$font-size-xs: 12px;
$font-size-sm: 15px;
$font-size-base: 21px;
$font-size-lg: 27px;
$font-size-xl: 33px;
$font-size-xxl: 55px;

$line-height-sm: 1.2;
$line-height-base: 1.5;
$line-height-lg: 1.75;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
