@use '../environment.scss' as *;

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    background-color: $color-body-dark;
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    margin-bottom: 7px;

    cursor: pointer;
}

.accordion-body {
    min-height: 50px;
    padding: 0px 0px 7px 30px;
}

.pi-chevron-down.open {
    transform: rotate(180deg);
}

//@include for-at-least($tablet) {
//    .accordion-head {
//        padding-inline: rem(32);
//    }
//
//    .accordion-body {
//        padding: 0 rem(32) rem(24);
//    }
//}
