@use '@environment' as *;

.duration-field-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.duration-field {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.duration-field-item {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}
