@use '@environment' as *;

.household {
    width: 100%;

    header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        i {
            font-size: 15px;
        }

        .actions {
            display: flex;
            gap: 5px;
        }
    }

    .household-title {
        display: flex;
        align-items: baseline;
        gap: 12px;

        div {
            display: flex;
            align-items: baseline;
            font-size: 20px;

            i {
                font-size: 22px;
            }
        }
    }

    li {
        display: flex;
        justify-content: space-between;
    }

    .product-item {
        width: 90%;
        cursor: pointer;
        transition: transform 0.3s;

        :hover {
            transform: scale(1.05);
        }

        .product-item-inner {
            width: 100%;
            max-width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .pi-trash {
        width: 10%;
        text-align: right;
        cursor: pointer;
    }

    .empty {
        color: $color-text-muted;
    }
}

.household-user-list {
    li {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5px;
        align-items: baseline;
    }

    .user-actions {
        display: flex;
        gap: 10px;
    }
}
