@use '@environment' as *;

.household {
    width: 100%;

    header {
        display: flex;
        justify-content: space-between;
    }

    li {
        display: flex;
        justify-content: space-between;
    }
}
