@use '@environment' as *;

body.no-scroll {
    overflow: hidden;
}

.modal-container,
.modal-overlay {
    position: fixed;
    inset: 0;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    z-index: 10;
    display: flex;
    height: 100%; // fallback
    height: 100dvh;
    width: 100vw;
    overflow-y: auto;
    padding: steps(5);
    scroll-behavior: smooth;
    flex-direction: column;
    align-items: center;
    color: $color-text-primary;

    .button-close {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 20px;
        padding: steps(1.5);
        animation:
            fade-in 800ms 200ms both,
            slide-up 800ms 200ms both;
    }

    @include until($phone-lg) {
        padding-top: steps(3);
    }
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    animation: fade-in 200ms both;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    animation:
        fade-in 400ms 200ms both,
        slide-up 400ms 200ms both;

    background-color: $color-body;
    color: $color-text-primary;
    border-radius: 8px;
    min-height: 300px;
    max-height: min(90%, 90dvh);
    min-width: min(500px, 100%);
    padding: 20px;
    padding-bottom: 15px;

    .modal-header {
        padding: 15px;
        padding-inline: 0;
        margin-bottom: 15px;
    }
    .modal-footer {
        margin-top: 15px;
        width: 100%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(10%);
    }
}

@media (prefers-reduced-motion: reduce) {
    .dialog-overlay,
    .dialog-content {
        animation: none;
    }
}
