@use '@environment' as *;

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    .pagination-list {
        display: flex;
        gap: steps(0.5);
    }

    .pagination-item {
        &:first-of-type {
            margin-right: steps(1.5);
        }
        &:last-of-type {
            margin-left: steps(1.5);
        }

        &.active {
            display: flex;
            align-items: center;

            &:after {
                content: '/';
                width: steps(2);
                text-align: center;
                display: block;
                color: var(--color-neutral-700);
                opacity: 0.5;
            }
        }
    }

    .pagination-link {
        padding: 0.4rem 0.7rem;
        text-decoration: none;
        display: block;

        &.active {
            background: $color-secondary;
            border-radius: 8px;
            color: $color-white;
            pointer-events: none;
        }

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        &:hover:not(.disabled):not(.active) {
            color: $color-text-muted;
        }
    }

    .loading-indicator {
        position: absolute;
        inset: 0;
        z-index: 0;

        .loader {
            position: absolute;
            inset: 0;
            margin: auto;
            width: steps(4);
            height: steps(4);
        }
    }

    button {
        padding-block: 0;
        padding-inline: steps(0.5);
        display: block;
        min-width: var(--button-height);

        span {
            padding-inline: 0;
            font-weight: 600;
            position: relative;
            z-index: 1;
        }

        svg {
            width: steps(4);
            height: steps(4);
        }

        &:disabled:not(.icon-only) {
            opacity: 1;

            span {
                color: var(--color-neutral-700);
            }
        }

        &:hover {
            span {
                color: var(--color-primary-300);
            }
        }

        &.icon-only {
            padding: 0;
        }
    }

    @include for-at-least($tablet) {
        button {
            &.active {
                background-color: var(--color-primary-050);
                pointer-events: none;

                &:hover {
                    background-color: var(--color-primary-050);
                }

                span {
                    color: var(--color-primary-400);
                }
            }
        }
    }

    @include until($phone) {
        .pagination-item {
            display: none;

            &.active,
            &:nth-of-type(1),
            &:nth-last-child(1),
            &:nth-last-child(2) {
                display: block;
            }
        }
    }
}
