@use '@environment' as *;

.rating-stars {
    font-size: 32px;
    cursor: pointer;
}

.rating-star,
.empty {
    color: darken($color-star, 5%);
}

.rating-star.active,
.full,
.half {
    color: $color-star-active;
}

.form-rating-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;

    p {
        margin-right: 10px;
    }
}

.star {
    position: relative;
    width: 1em;
    height: 1em;
    margin-right: 2px;
}

.star i {
    position: absolute;
    top: 0;
    left: 0;
}
