@use '@environment' as *;

.recipe {
    width: 80%;

    section {
        padding-bottom: 20px;
    }

    &.header {
        display: flex;
        justify-content: space-between;

        img {
            width: 50%;
            object-fit: cover;
        }
    }
}

.ingredients-header {
    display: flex;
    justify-content: space-between;
}
