@use '@environment' as *;

.tag-selector {
    .tag-group {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tags-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .tag-selectable {
        border: 1px solid $color-body-dark;
        cursor: pointer;
        transition: all 0.12s ease;
        user-select: none;
        font-size: 15px;

        &:hover {
            border-color: $color-secondary;
            color: $color-secondary;
        }

        &.selected {
            background: $color-secondary;
            border-color: $color-secondary;
            color: $color-white;
        }

        .check {
            font-size: 11px;
        }
    }
}

.tag {
    padding: 4px 8px;
    border-radius: 5px;
    background-color: $color-beige-dark;
    font-size: 14px;
    color: #7b6959;
}
