@use '@environment' as *;

.folder-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .folder-actions {
        display: flex;
        gap: 4px;
    }

    .folder-info-container {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            font-size: 50px;
        }
    }
}
