@use '../environment' as *;

.my-recipes {
    header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        @media (max-width: $phone-lg) {
            flex-direction: column;
            gap: 10px;
        }

        h1 {
            margin: 0;
        }
        i {
            font-size: 15px;
        }

        .header-info {
            font-size: 13px;
            color: $color-gray;
        }

        .header-actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            width: 70%;

            @media (max-width: $phone-lg) {
                width: 100%;
                justify-content: flex-start;
            }
        }
    }
}
