@use '../environment' as *;

.my-recipes {
    header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        i {
            font-size: 15px;
        }

        div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            width: 70%;
        }
    }
}
