@use '@environment' as *;

.site-footer {
    background-color: $color-primary;
    color: $color-white;
    padding: $cont-padding-base;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    nav {
        ul {
            display: flex;
            gap: $cont-padding-base;
        }
    }
}
