@use '@environment' as *;

.site-footer {
    background-color: $color-primary;
    color: $color-white;
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
        ul {
            display: flex;
            gap: 50px;
        }
    }
}
