@use '@environment' as *;

.site-header {
    background-color: $color-body;
    padding: $cont-padding-base;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
        ul {
            display: flex;
            gap: $cont-padding-base;
        }
    }
}
