@use '@environment' as *;

.site-header {
    background-color: $color-body;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;

    nav {
        ul {
            display: flex;
            gap: $cont-padding-base;

            li {
                position: relative;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: red;
                    transition: width 0.3s ease;
                }

                &:hover {
                    color: $color-primary;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    &.auth {
        padding-inline: 35px;
    }

    &.mobile {
        height: 100px;

        .menu-overlay {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background-color: $color-body;
            z-index: 100;
            padding: 0 20px 20px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            header {
                height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .user-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }

            nav {
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 10px;

                    li {
                        text-align: left;

                        @media (max-width: $phone-sm) {
                            font-size: 18px;
                        }

                        @media (max-width: $phone) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .menu-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
        }

        .menu-overlay.animate__slideInRight {
            --animate-duration: 0.4s;
        }

        .menu-overlay.animate__slideOutRight {
            --animate-duration: 0.3s;
        }
    }
}
